In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

/Users/wonheeyun/opt/miniconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), ["reading_score"]] = np.nan

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"), ["math_score"]] = np.nan

In [5]:
#  Step 4. Check the student data for NaN's. 
clean_student_data_df = student_data_df
clean_student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(clean_student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [7]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [9]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [11]:
student_count

39170

In [12]:
student_count_no_grades

461

In [10]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
student_count_no_grades = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School") & (school_data_complete_df["grade"] == "9th")].count()["student_name"]

# Get the total student count 
student_count = school_data_complete_df["student_name"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
new_total_student_count = student_count - student_count_no_grades
new_total_student_count

38709

In [13]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [14]:
# Step 3. Calculate the passing percentages with the new total student count.
passing_math_percentage = passing_math_count / new_total_student_count * 100
passing_reading_percentage = passing_reading_count / new_total_student_count * 100

In [16]:
passing_reading_percentage

85.6596657108166

In [18]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / new_total_student_count * 100

In [21]:
print(passing_reading_percentage)

85.6596657108166

In [20]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
ths_tenth_twelfth_graders_count = school_data_complete_df[
                                (school_data_complete_df["grade"] != "9th") &
                                (school_data_complete_df["school_name"] == "Thomas High School")
                              ].count()["student_name"]

In [ ]:
# Step 6. Get all the students passing math from THS
ths_students_passing_math = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") &
    (school_data_complete_df["math_score"] >= 70)
]

In [ ]:
# Step 7. Get all the students passing reading from THS
ths_students_passing_reading = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") &
    (school_data_complete_df["reading_score"] >= 70)
]
ths_students_passing_reading

In [ ]:
# Step 8. Get all the students passing math and reading from THS
ths_students_passing_both = school_data_complete_df.loc[
    (school_data_complete_df["school_name"] == "Thomas High School") &
    (school_data_complete_df["reading_score"] >= 70) &
    (school_data_complete_df["math_score"] >= 70)
]
ths_students_passing_both

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
ths_per_passing_math_tenth_twelfth =  ths_students_passing_math.count()["student_name"] / ths_tenth_twelfth_graders_count * 100
ths_per_passing_math_tenth_twelfth

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths_per_passing_reading_tenth_twelfth =  ths_students_passing_reading.count()["student_name"] / ths_tenth_twelfth_graders_count * 100
ths_per_passing_reading_tenth_twelfth

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
ths_per_passing_both =  ths_students_passing_both.count()["student_name"] / ths_tenth_twelfth_graders_count * 100
ths_per_passing_both

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School", "% Passing Math"] = ths_per_passing_math_tenth_twelfth
per_school_summary_df.loc["Thomas High School", "% Passing Math"]

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School", "% Passing Reading"] = ths_per_passing_reading_tenth_twelfth
per_school_summary_df.loc["Thomas High School", "% Passing Reading"]

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School", "% Overall Passing"] = ths_per_passing_both
per_school_summary_df.loc["Thomas High School", "% Overall Passing"]

In [ ]:
per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.
top_five_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_five_schools.head(5)

In [ ]:
# Sort and show bottom five schools.
bottom_five_schools = per_school_summary_df.sort_values(["% Overall Passing"])
bottom_five_schools.head(5)

## Math and Reading Scores by Grade
The average math score for each grade level from each school

In [ ]:
# Create a Series of scores by grade levels using conditionals.

ninth_math_scores = school_data_complete_df[school_data_complete_df["grade"] == "9th"]
ninth_reading_scores = school_data_complete_df[school_data_complete_df["grade"] == "9th"]

tenth_math_scores = school_data_complete_df[school_data_complete_df["grade"] == "10th"]
tenth_reading_scores = school_data_complete_df[school_data_complete_df["grade"] == "10th"]

eleventh_math_scores = school_data_complete_df[school_data_complete_df["grade"] == "11th"]
eleventh_reading_scores = school_data_complete_df[school_data_complete_df["grade"] == "11th"]

twelfth_math_scores = school_data_complete_df[school_data_complete_df["grade"] == "12th"]
twelfth_reading_scores = school_data_complete_df[school_data_complete_df["grade"] == "12th"]

# Group each school Series by the school name for the average math score.

ninth_math_avg_scores_by_school = ninth_math_scores.groupby(["school_name"]).mean()["math_score"]
tenth_math_avg_scores_by_school = tenth_math_scores.groupby(["school_name"]).mean()["math_score"]
eleventh_math_avg_scores_by_school = eleventh_math_scores.groupby(["school_name"]).mean()["math_score"]
twelfth_math_avg_scores_by_school = twelfth_math_scores.groupby(["school_name"]).mean()["math_score"]

# Group each school Series by the school name for the average reading score.

ninth_reading_avg_scores_by_school = ninth_reading_scores.groupby(["school_name"]).mean()["reading_score"]
tenth_reading_avg_scores_by_school = tenth_reading_scores.groupby(["school_name"]).mean()["reading_score"]
eleventh_reading_avg_scores_by_school = eleventh_reading_scores.groupby(["school_name"]).mean()["reading_score"]
twelfth_reading_avg_scores_by_school = twelfth_reading_scores.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
# Combine each Series for average math scores by school into single data frame.
avg_math_scores_by_school = pd.DataFrame({
    "9th": ninth_math_avg_scores_by_school,
    "10th": tenth_math_avg_scores_by_school,
    "11th": eleventh_math_avg_scores_by_school,
    "12th": twelfth_math_avg_scores_by_school
})

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
avg_reading_scores_by_school = pd.DataFrame({
    "9th": ninth_reading_avg_scores_by_school,
    "10th": tenth_reading_avg_scores_by_school,
    "11th": eleventh_reading_avg_scores_by_school,
    "12th": twelfth_reading_avg_scores_by_school
})

In [ ]:
# Format each grade column.
avg_math_scores_by_school["9th"] = avg_math_scores_by_school["9th"].map("{:.1f}".format)
avg_math_scores_by_school["10th"] = avg_math_scores_by_school["10th"].map("{:.1f}".format)
avg_math_scores_by_school["11th"] = avg_math_scores_by_school["11th"].map("{:.1f}".format)
avg_math_scores_by_school["12th"] = avg_math_scores_by_school["12th"].map("{:.1f}".format)

avg_reading_scores_by_school["9th"] = avg_reading_scores_by_school["9th"].map("{:.1f}".format)
avg_reading_scores_by_school["10th"] = avg_reading_scores_by_school["10th"].map("{:.1f}".format)
avg_reading_scores_by_school["11th"] = avg_reading_scores_by_school["11th"].map("{:.1f}".format)
avg_reading_scores_by_school["12th"] = avg_reading_scores_by_school["12th"].map("{:.1f}".format)

In [ ]:
# Remove the index name
avg_math_scores_by_school.index.name = None

# Display the data frame
avg_math_scores_by_school

In [ ]:
# Remove the index name
avg_reading_scores_by_school.index.name = None

# Display the data frame
avg_reading_scores_by_school

## Scores by School Spending

In [ ]:
# Budget for student for each school
per_school_capita

In [ ]:
# Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

In [ ]:
pd.cut(per_school_capita, spending_bins)

In [ ]:
# Cut the per_school_capita into the spending ranges
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

In [ ]:
# Establish the spending bins and group names.
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_overall_passing = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Create the DataFrame
scores_by_school_spending = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": spending_overall_passing
})
scores_by_school_spending

In [ ]:
# Format the DataFrame 
scores_by_school_spending["Average Math Score"] = scores_by_school_spending["Average Math Score"].map("{:.1f}".format)
scores_by_school_spending["Average Reading Score"] = scores_by_school_spending["Average Reading Score"].map("{:.1f}".format)
scores_by_school_spending["% Passing Math"] = scores_by_school_spending["% Passing Math"].map("{:.1f}".format)
scores_by_school_spending["% Passing Reading"] = scores_by_school_spending["% Passing Reading"].map("{:.1f}".format)
scores_by_school_spending["% Overall Passing"] = scores_by_school_spending["% Overall Passing"].map("{:.1f}".format)

In [ ]:
scores_by_school_spending

## Scores by School Size

In [ ]:
per_school_counts

In [ ]:
size_bins = [0, 1000, 2000, 5000]

In [ ]:
pd.cut(per_school_counts, size_bins)

In [ ]:
per_school_counts.groupby(pd.cut(per_school_counts, size_bins)).count()

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names_2 = ["Small (<1000)", "Medium (1000-2000)", "Large(2000-5000)"]
# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_counts, size_bins, labels=group_names_2)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_math_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_reading_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
scores_by_school_size = pd.DataFrame({
    "Average Math Score" : size_math_scores,
    "Average Reading Score" : size_reading_scores,
    "% Passing Math" : size_math_scores,
    "% Passing Reading" : size_reading_scores,
    "% Overall Passing" : size_overall_passing
})
scores_by_school_size

In [ ]:
# Format the DataFrame  
scores_by_school_size["Average Math Score"] = scores_by_school_size["Average Math Score"].map("{:.1f}".format)
scores_by_school_size["Average Reading Score"] = scores_by_school_size["Average Reading Score"].map("{:.1f}".format)
scores_by_school_size["% Passing Math"] = scores_by_school_size["% Passing Math"].map("{:.1f}".format)
scores_by_school_size["% Passing Reading"] = scores_by_school_size["% Passing Reading"].map("{:.1f}".format)
scores_by_school_size["% Overall Passing"] = scores_by_school_size["% Overall Passing"].map("{:.1f}".format)

In [ ]:
scores_by_school_size

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns. 
math_scores_type = per_school_summary_df.groupby("School Type").mean()["Average Math Score"]
reading_scores_type = per_school_summary_df.groupby("School Type").mean()["Average Reading Score"]
passing_math_type = per_school_summary_df.groupby("School Type").mean()["% Passing Math"]
passing_reading_type = per_school_summary_df.groupby("School Type").mean()["% Passing Reading"]
overall_passing_type = per_school_summary_df.groupby("School Type").mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
scores_by_school_type = pd.DataFrame({
    "Average Math Score" : math_scores_type,
    "Average Reading Score" : reading_scores_type,
    "% Passing Math" : passing_math_type,
    "% Passing Reading" : passing_reading_type,
    "% Overall Passing" : overall_passing_type
})
scores_by_school_type

In [ ]:
# # Format the DataFrame 
scores_by_school_type["Average Math Score"] = scores_by_school_type["Average Math Score"].map("{:.1f}".format)
scores_by_school_type["Average Reading Score"] = scores_by_school_type["Average Reading Score"].map("{:.1f}".format)
scores_by_school_type["% Passing Math"] = scores_by_school_type["% Passing Math"].map("{:.1f}".format)
scores_by_school_type["% Passing Reading"] = scores_by_school_type["% Passing Reading"].map("{:.1f}".format)
scores_by_school_type["% Overall Passing"] = scores_by_school_type["% Overall Passing"].map("{:.1f}".format)

In [ ]:
scores_by_school_type